@import "tailwindcss";

input[type="text"] {
    font-family: monospace;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

@keyframes spinny {
    0% {
        transform: rotate(0turn);
    }
    /* 0.2 */
    10% {
        transform: rotate(0.02turn);
    }
    /* 0.4 */
    20% {
        transform: rotate(0.08turn);
    }
    /* 0.6 */
    30% {
        transform: rotate(0.18turn);
    }
    /* 0.8 */
    40% {
        transform: rotate(0.32turn);
    }
    /* 1 */
    50% {
        transform: rotate(0.5turn);
    }
    /* 1.2 */
    60% {
        transform: rotate(0.72turn);
    }
    /* 1.4 */
    75% {
        transform: rotate(0.9turn);
    }

    100% {
        transform: rotate(1turn);
    }
}